* {
    box-sizing: border-box; /* ajusta o tamanho dos elementos incluindo margin e padding */
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Trebuchet MS', sans-serif;
}

.header {
    background-color: rgb(214, 201, 21);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.header a {
    text-decoration: none;
}

.header h1 {
    margin: 0.5rem;
    margin-top: 2rem;
    font-size: 3rem;
    color: black;
    text-decoration: none;
}

.header h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    color: rgb(214, 201, 21);
    background-color: black;
    border-radius: 0.2rem;
}

.header h1:hover {
    transform: scale(1.01);
    transition: transform 0.3s; /* transição suave */
}

.header h2:hover {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 0.2rem;
    transform: scale(1.05);
    transition: transform 0.3s; /* transição suave */
}

.slider-container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden; /* exclui as outras imagens que não estão sendo mostradas ainda */
}

.slides {
    display: flex;
    transition: transform 1s;
}

.slide h1 {
    color: rgb(214, 201, 21);
    position: absolute;
}

.slide {
    min-width: 100%;
    transition: opacity;
}

.slide img {
    width: 100%;
    height: 45rem;
    filter: brightness(60%);
}

.mid_container {
    padding: 1.5rem;
    margin-left: 20rem;
    margin-right: 20rem;
}

.mid_container h1 {
    color: rgb(214, 201, 21);
    text-align: center;
    margin: 1rem;
    font-size: 3rem
}

.mid_container h2 {
    color: aliceblue;
    text-align: center;
    margin: 2rem;
}

.mid_container p {
    color: aliceblue;
    text-align: center;
    margin: 2rem;
    filter: brightness(80%);
}

.mid_inscricao h2 {
    margin-top: 2rem;
    margin-left: 8rem;
    margin-right: 8rem;
    padding: 1rem;
    color:  black;
    background-color: rgb(214, 201, 21);
    border-radius: 1rem;
}

.mid_inscricao a {
    text-decoration: none;
}

.mid_inscricao h2:hover {
    margin-top: 2rem;
    margin-left: 8rem;
    margin-right: 8rem;
    padding: 1rem;
    color:  black;
    background-color: rgb(255, 255, 255);
    transform: scale(1.05);
    transition: transform 1s; /* transição suave */
}

.input_dados {
    background-color: rgb(214, 201, 21);
    padding: 2rem;
    border-radius: 0.5rem;
    margin-left: -10rem;
    margin-right: -10rem;
}

.input_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
}

.input_box h3 {
    color: black;
    text-align: right; /* alinhamento o texto para ficar do lado das caixas de input */
}

.input_box input, .input_box select {
    width: 100%; /* ajusta o tamanho das caixas de input para se adaptarem */
    padding: 0.5rem;
    border: 2px solid #757575;
    border-radius: 0.25rem;
    font-size: 1rem;
    background-color: rgb(255, 255, 255);
    transition: border-color 0.3s ease;
    margin-right: 1rem;
    margin-left: 1rem;
}

.input_box input:focus, .input_box select:focus {
    border-color: rgb(0, 0, 0); /* cor de foco */
    outline: none;
}

.input_box select {
    max-width: 250px; /* limite para o tamanho do select */
}

.input_box input[type="radio"] {
    transform: scale(2);
    margin: 0;
    margin-left: 3rem;
    margin-right: -0.5rem;
}

.input_box input[type="checkbox"] {
    transform: scale(2);
    margin: 0;
    margin-left: 3rem;
    margin-right: -0.5rem;
}

.input_box input[type="time"] {
    width: 200px;
}

.input_box p {
    margin: 0;
    color: black;
    padding: 1rem;
}

.form_button {
    margin: 1rem;
}

.form_button button {
    border: 2px solid #000000;
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: rgb(214, 201, 21);
    background-color: black;
}

.form_button button:hover {
    border: 2px solid #808080;
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: rgb(214, 201, 21);
    background-color: black;
    cursor: pointer; /* muda o cursor para selecionar o botão */
}

.footer {
    background-color: rgb(214, 201, 21);
    text-align: center;
    padding: 1rem;
}

.footer p {
    font-style: italic;
    color: black;
}
