/* definicoes globais */

* {
    margin: 0%; /* tira a margem total das bordas da página */
    padding: 0%;
    box-sizing: 0%;
    font-family: "ARIAL"; /* declara a fonte padrao da página inteira */
    border: none;
}

body {
    background-color: brown;
}

/* definicoes do topo */

.header {
    background-color: black;
    display: flex; /* deixa todos os elementos do header em linha */
    padding: 1%; /* expande a parte preta pra fora */
}

.header img {
    width: 130px;
    height: 100px;
}

.navbar ul {
    display: flex; /* deixa os items da lista em linha */
    gap: 2rem; /* espaçamento das palavras */
    margin-top: 2vw;
    margin-left: 70vw;
}

.navbar a { /* modifica o texto da navbar */
    color: brown;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.titulo {
    text-align: center;
    margin-top: 5vh;
    margin-left: 30vh;
    margin-right: 30vh;
    font-size: 5vh;
}

.window_container {
    margin-top: 4vh;
    margin-left: 20vh;
    margin-right: 20vh;
    border-radius: 10px;
    display: flex;
}

.sub_destaques {
    font-size: 3vh;
    text-align: center;
    margin-top: 15vh;
}

.window_pizza {
    border-radius: 5vh;
    color: aliceblue;
    background-color: black;
    padding: 2vh;
    margin: 2vh;
    text-align: center;
}

.window_pizza img {
    height: 100px;
    width: 150px;
}

.rodape {
    font-style: italic;
    text-align: center;
    font-size: smaller;
    color: aliceblue;
    background-color: black;
    margin-top: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
