* {
    box-sizing: border-box; /* ajusta o tamanho dos elementos incluindo margin e padding */
    margin: 0;
    padding: 0;
  }
  
body {
    background-color: black;
    font-family: Arial;
}

.header {
    background-color: whitesmoke;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.header img {
    height: 90px;
    width: 330px;
}

.navbar ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 2rem;
}

.navbar a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.container_mid {
    display: flex;
    margin: 4rem;
    padding: 1rem;
}

.imagem_members img {
    border-radius: 0.5rem;
    height: 630px; /* 40rem */
    width: 1100px; /* 70rem */
}

.texto_mid {
    margin: 2rem;
    display: flexbox;
}

.texto_mid h2 {
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}

.texto_mid p {
    margin: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}

.footer {
    background-color: whitesmoke;
    padding: 2rem;
    text-align: center;
}

.footer p {
    padding: 1rem;
    color: rgb(95, 95, 95);
}

.divider {
    height: 2rem;
    border-radius: 2rem;
    margin: 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
    color: whitesmoke;
    filter: brightness(80%);
}