* {
    box-sizing: border-box; /* ajusta o tamanho dos elementos incluindo margin e padding */
    margin: 0;
    padding: 0;
  }
  
body {
    background-color: black;
    font-family: Arial;
}

.header {
    background-color: whitesmoke;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.header img {
    height: 90px;
    width: 330px;
}

.header img:hover {
    transform: scale(1.1);
}

.navbar ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 2rem;
}

.navbar a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.navbar a:hover {
    color: rgb(212, 24, 24);
}

.container_mid {
    display: flex;
    margin: 4rem;
    padding: 1rem;
}

.imagem_members img {
    border-radius: 0.5rem;
    height: 630px; /* 40rem */
    width: 1100px; /* 70rem */
}

.texto_mid {
    margin: 3rem;
    display: flexbox;
}

.texto_mid h2 {
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}

.texto_mid p {
    margin: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}

.footer {
    background-color: whitesmoke;
    padding: 2rem;
    text-align: center;
}

.footer p {
    padding: 1rem;
    color: rgb(95, 95, 95);
}

.divider {
    height: 2rem;
    border-radius: 2rem;
    margin: 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
    color: whitesmoke;
    filter: brightness(80%);
}

.subtitulo {
    text-align: center;
    margin: 6rem;
}

.subtitulo h2 {
    color: whitesmoke;
    margin-bottom: 1.5rem;
}

.subtitulo p {
    color: whitesmoke;
    margin-left: 20rem;
    margin-right: 20rem;
}

.hist_left, .hist_right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container_hist {
    padding: 2rem;
    border-radius: 0.5rem;
    margin: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(24, 24, 24);
}

.container_hist h2 {
    margin-bottom: -1rem;
    text-align: center;
    color: whitesmoke;
}

.container_hist p {
    text-align: center;
    color: whitesmoke;
    margin: 2rem;
    margin-left: 12rem;
    margin-right: 12rem;
}

.container_hist img {
    height: 300px;
    width: 300px;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(255, 255, 255);
}

.container_hist img:hover {
    transform: scale(1.2);
}

.subtitulo img {
    width: 1360px;
    height: 768px;
    border-radius: 0.5cap;
    margin-top: 1.5rem;
}

.container_int {
    display: fle;
    flex-direction: column;
    align-items: center;
}

.integrante {
    display: flex;
    margin: 8rem;
    margin-right: 15rem;
    margin-left: 15rem;
    background-color: rgb(19, 19, 19);
    padding: 0.5rem;
    border-radius: 0.2cap;
}

.integrante_texto {
    display: flex;
    flex-direction: column;
}

.integrante_texto h2,p {
    margin: 2rem;
    color: whitesmoke;
}

.integrante img {
    width: 250px;
    height: 250px;
    border: 0.2rem solid rgb(199, 55, 55);
}